@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'yanone_kaffeesatzlight';
font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;



font-family:"Lato Black";
font-family: 'Lato', sans-serif;

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top150 { margin-top:150px; }
.top220 { margin-top:220px; }
.top195 { margin-top:195px; }
.top210 { margin-top:210px; }
.top395 { margin-top:395px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }




.container{
	width: 1170px;
}


.input100{
	width: 100% !important;
}

.lato-black{
	font-family:"Lato Black";
}


body{
	font-family: 'Lato', sans-serif;
}


h1{
	font-size: 25px;
	color: #51504f;
	font-weight: 700;
}

h2{
	
}

h3{
	
}


h4{ 
	font-size: 16px;
	color: #51504f;
	font-weight: 400;

}

h6 {
	font-weight: 300;
	color: #000;
	font-size: 35px;
	text-decoration: underline;
}


p{
	font-weight: 400;
	text-align: justify;
	font-size: 14px;
	color: #51504f;
}

a:hover{
	text-decoration: none !important;
}



/**
============================================
					topo
============================================
*/
/*.pagina{
	width: 1920px;
	position: absolute;
	margin-left: -960px;
	left: 50%;
	top: 0px;
	z-index: 10;
}
*/


.ds-btn li{ list-style:none; float:left; padding:0px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}


.btn-topo{
	cursor: none;
	color: #51504f;
	font-weight: 400;
	font-size: 19px;
	background: #f8c400;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border: 0px solid #000000;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

.btn-meu-orcamento{
	padding: 11px;
	color: #51504f;
	font-weight: 400;
	font-size: 19px;
	background: #f8c400;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border: 0px solid #000000;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

.glyphicon-star:before {
	margin-right: 20px;
}

.topo-meu-orcamento {
	top: 97%;
	left: -115px;
	background: #fff;
	width: 380px;
	padding: 0px 10px;
}


.btn-amarelo,.btn-amarelo:hover {
	color: #fff;
	background: #f8c400;
}

.navs-personalizados .navbar-default {
	background: none !important;
	border: none !important;
}

.navs-personalizados .navbar-collapse {
	padding: 0px;
}

.navs-personalizados li a{
	font-size: 23px;
	font-weight: 400;
	
}

.navs-personalizados .navbar-default .navbar-nav>.active>a{
	background: url(../imgs/hover-menu-topo.jpg);
	height: 140px;
	color: #51504f;
}

.navs-personalizados .navbar-default .navbar-nav>li>a{
	padding-top: 42px;
	height: 140px;
	color: #51504f;
	padding: 42px 20px;	
	text-align: center;
	background: none;
}

.navs-personalizados .navbar-default .navbar-nav>li>a:hover {
	background: url(../imgs/hover-menu-topo.jpg);
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom:0px; */
}
/**
============================================
          topo
============================================
*/


/**
============================================
          RODAPE
============================================
*/

.rodape-preto{
	background: #000;
}

.menu-rodape li a {
	font-size: 15px;
	color: #fff;
	padding-right: 10px;
}

.menu-rodape li {
	float: left;
	margin-right: 10px;
	border-right: 2px solid #fff;
}


.menu-rodape li:last-child {
	border-right: none;
} 


.rodape-azul {

	background: #002953;
}

.rodape-azul h5 { 
	font-size: 11px;
	padding: 6px 0px;
	font-size: 12px;
	color: #fff;
}

.glyphicon-home:before,.glyphicon-earphone:before {
	margin-right: 10px;
}

.contatos-rodape span,.contatos-rodape h2{
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
}

/**
============================================
          RODAPE
============================================
*/


/**
============================================
          HOME
============================================
*/


.fundo-degrader {
	height: 298px;
	background: url(../imgs/bg-transparente-home.png) center;
}



.fundo-degrader h1{
	overflow: hidden;
	height: 60px;
	font-size: 47px;
	color: #fff;
	font-weight: 300;

}

.fundo-degrader span{
	font-family:"Lato Black";

}

.fundo-degrader h2{
	font-size: 24px;
	color: #fff;
	font-weight: 700;

}

.descricao-bg-home p {
	color: #fff;
	overflow: hidden;
	height: 55px;
}

.descricao-bg-home {
	position: relative;
	margin-top: -306px;
}

.carroucel-descricao .carousel-control {
	font-size: 34px;
	color: #fff;
	opacity: 2.5;
}

.carroucel-descricao .carousel-control.left {
	padding-top: 7px;
	position: absolute;
	z-index: 999;
	background: url(../imgs/seta-direita.png) center top no-repeat;
	width: 74px;
	height: 78px;
	left: 896px;
	top: 208px;
}

.carroucel-descricao .carousel-control.right{ 
	padding-top: 7px;
	position: absolute;
	z-index: 999;
	background: url(../imgs/seta-direita.png) center top no-repeat;
	width: 74px;
	height: 78px;
	right: 126px;
    top: 208px;
}

.btn-saiba-mais,.btn-saiba-mais:hover{
	padding: 22px 45px;
	background: url(../imgs/bg-botao-saiba.png) top center no-repeat;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

.fa-chevron-right:before {
    margin-left: 15px;
    content: "\f054";
}

.listagem-produtos .thumbnail{
	padding: 0px;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.listagem-produtos h1{
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
}
/**
============================================
          HOME
============================================
*/


/**
============================================
          EMPRESA
============================================
*/



/**
============================================
          EMPRESA
============================================
*/



/**
============================================
          DICAS
============================================
*/


/**
============================================
          DICAS
============================================
*/



/**
============================================
          FORNECEDORES
============================================
*/



/**
============================================
          FORNECEDORES
============================================
*/




/**
============================================
          PRODUTOS
============================================
*/


/**
============================================
          PRODUTOS
============================================
*/

/**
============================================
          SERVICOS
============================================
*/


/**
============================================
          SERVICOS
============================================
*/


/**
============================================
          ORCAMENTOS
============================================
*/


/**
============================================
          ORCAMENTOS
============================================
*/